  <h1>Step 2: Select your config and options</h1>
  <label>Config : </label>
  <ng-container *ngIf="configsOptions">
  <select id="configSelect" (change)="getConfigDetails(selectedDescription)" [(ngModel)] = "selectedDescription">
    <option  value="undefined" selected disabled> Choose... </option>
      <option *ngFor="let config of configsOptions.configs" [ngValue]="config?.description" >{{config?.description}}</option>
    </select>
  </ng-container>
    <br>
    <div *ngIf="selectedConfig">
      <span>Range: {{selectedConfig.range}} miles  -
            Max speed: {{ selectedConfig.speed}} - Cost: {{selectedConfig.price | currency:'USD'}}</span>
  </div>
    <ng-container *ngIf="configsOptions?.towHitch">
    <label>To hitch ? <input type="checkbox" id="includeYoke" name="hitch"  [(ngModel)]="hitch" (change)="updateHitchChange()" /> </label>
   </ng-container>
    <br>
    <ng-container *ngIf="configsOptions?.yoke">
    <label>Yoke steering wheel ?<input type="checkbox" id="includeTow" name="steering" (change)="updateHitchChange()"  [(ngModel)]="steering" /> </label> 
    </ng-container>


    


