<h1>Step3 : Summary</h1>
  <h3>Your Tesla {{selectedModels?.details?.description}}</h3>
  <section>
      <div *ngIf="selectedConfig?.description">
          <span class="text-fnt">{{selectedConfig?.description}}</span>
          <span class="text-fnt">{{ selectedConfig?.configDetails?.price | currency:'USD'}} </span>
        </div>
             <span>Range: {{selectedConfig?.configDetails?.range}} miles  -
              Max speed: {{ selectedConfig?.configDetails?.speed}}</span>
      <div>
          <span class="text-fnt">{{selectedColor}}</span>
          <span class="text-fnt">{{rangePrice | currency:'USD'}} </span>
      </div>
      <div *ngIf="selectedConfig?.towHitch || selectedConfig?.yoke">
          <span class="text-fnt">Town Hitch Package</span>
          <span class="text-fnt">{{hitchPrice | currency:'USD'}}</span>
      </div>
      <div class="box-border">
          <span class="text-fnt">TOTAL COST</span>
          <span class="text-fnt">{{ configPrice + rangePrice + hitchPrice | currency:'USD'}} </span>
      </div>
  </section>
  