section.top-nav {
    text-align  : center;
    ul {
        display: inline-flex;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-flex;
        border: 1px solid gray;
    }
    button {
        width: 28rem;
        margin: 0 !important;
    }
    li:hover {
        cursor: pointer;
    }
    li.isActive {
        button {
            background-color: gray;
        }
    }
}

div.text-center {
    text-align: center;
}